# Configuración de Base de Datos Híbrida Supabase (PostgreSQL + pgvector)
SUPABASE_URL=https://tu-proyecto-id.supabase.co
SUPABASE_KEY=tu-anon-o-service-role-key-privada

# Configuración Criptográfica JWT (Cumplimiento Ley N.° 29733)
JWT_SECRET_KEY=SIMEL_EL_TAMBO_2026_LEY_29733_AES256_SECRET_KEY
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=8
